*{
    box-sizing: border-box;
}
body{
    background-image:url(kepek/hatter.gif) ;
}
main{
    width: 75%;
    margin: auto;
    background-color: white;
    
    
}
header{
    background-image:url(kepek/fejlec.png) ;
    height: 135px;
    color: #cfb993;
    padding: 30px;
    background-repeat:no-repeat ;

}
header img{
    width: 100%;
    

}
aside, article{
    padding: 5px;
}
footer{
    background-color:rgb(100, 61, 49) ;
    text-align: center;
    padding: 3px;
}
h3{
    font-style: italic;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    

}
  

  
li a {
    display: block;
    color: black;

    text-align: center;
    padding: 14px 16px;
    text-decoration: none;


}
  
li a:hover:not(.active) {
    background-color: #7e5a0c;
}